@tailwind base;
@tailwind components;
@tailwind utilities;


.active:after {
  content: "";
  position: absolute;
  top: 25px;
  width: 7px;
  height: 7px;
  background: #4932B8;
  border-radius: 100%;
  left: 18px;

}

input[type="radio"] {
  display: none;
}